<h3> Step 2 A - Studen Information </h3>
<div class="form-group">
    <label class="control-label">School Name</label>
    <input maxlength="100" required="required" class="form-control" type="text" ng-model="model.school">
</div>
<div class="form-group">
    <label class="control-label">Level</label>
    <select class="form-control" ng-model="model.level">
        <option value="1">1 Year</option>
        <option value="2">2 Year</option>
        <option value="3">3 Year</option>
        <option value="4">4 Year</option>
    </select>
</div>