<h3> Step 3 - Resume Information </h3>
<div class="form-group">
    <label class="control-label">Full Name</label>
    <input maxlength="100" required="required" class="form-control" type="text" ng-model="model.name">
</div>
<div class="form-group">
    <label class="control-label">Occupation</label>
    <select class="form-control" ng-model="model.type">
        <option value="W">Worker</option>
        <option value="S">Student</option>
    </select>
</div>
<div class="form-group">
    <label class="control-label">School Name</label>
    <input maxlength="100" required="required" class="form-control" type="text" ng-model="model.school">
</div>
<div class="form-group">
    <label class="control-label">Level</label>
    <select class="form-control" ng-model="model.level">
        <option value="1">1 Year</option>
        <option value="2">2 Year</option>
        <option value="3">3 Year</option>
        <option value="4">4 Year</option>
    </select>
</div>
<div class="form-group">
    <label class="control-label">Company</label>
    <input maxlength="100" required="required" class="form-control" type="text" ng-model="model.company">
</div>
<div class="form-group">
    <label class="control-label">Position</label>
    <input maxlength="100" required="required" class="form-control" type="text" ng-model="model.position">
</div>