<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="../../target/handler.js"></script>
    <script>
        angular.module('handler', [])
            .controller('crumb', function($scope) {
                $scope.page = {
                    page1: 'page/page1.html',
                    page2: 'page/page2.html',
                    page3: 'page/page3.html',
                    page4: 'page/page4.html',
                    page5: 'page/page5.html'
                };
                $scope.crumb = handler.crumbHandler('page3');
                $scope.open = function(name) {
                    $scope.crumb.open(name);
                }
                $scope.back = function() {
                    $scope.crumb.back();
                }
                $scope.go = function(id) {
                    $scope.crumb.go(id);
                }
            });
    </script>
</head>

<body ng-app="handler">
    <div ng-controller="crumb" class="container">
        <div class="row a-link">
            <strong>NAVEGATION</strong>
            <a href="#" ng-click="back()"> Atras </a>
            <a href="#" ng-click="open('page1')"> Page 1 </a>
            <a href="#" ng-click="open('page2')"> Page 2 </a>
            <a href="#" ng-click="open('page3')"> Page 3 </a>
            <a href="#" ng-click="open('page4')"> Page 4 </a>
            <a href="#" ng-click="open('page5')"> Page 5 </a>
        </div>
        <hr />
        <div class="row">
            <div ng-if="crumb.page1" ng-include="page.page1">Load Page 1</div>
            <div ng-if="crumb.page2" ng-include="page.page2">Load Page 2</div>
            <div ng-if="crumb.page3" ng-include="page.page3">Load Page 3</div>
            <div ng-if="crumb.page4" ng-include="page.page4">Load Page 4</div>
            <div ng-if="crumb.page5" ng-include="page.page5">Load Page 5</div>
        </div>
        <hr />
        <div class="row">
            <div class="btn-group btn-breadcrumb">
                <a href="http://www.tutorialmines.net" class="btn btn-default">Breadcrumb</a>

                <a href="#" class="btn btn-default" ng-repeat="item in crumb.tracer() track by $index" ng-click="go($index)">
                        {{item}}
                </a>
                <a href="#" class="btn btn-default">{{crumb.name()}}</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <h6>
                <b>Name: </b>{{crumb.name()}}
                <hr />
                <b>Node: </b>{{crumb.node()}}
                <hr />
                <b>Tracer: </b>{{crumb.tracer()}}
            </h6>
        </div>
    </div>

</body>

</html>