<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="../../target/handler.js"></script>
    <script>
        angular.module('handler', [])
            .controller('crumb', function($scope) {
                $scope.pages = [{
                    id: 'p1',
                    page: 'page/page1.html',
                    title: 'Page 1'
                }, {
                    id: 'p2',
                    page: 'page/page2.html',
                    title: 'Page 2'
                }, {
                    id: 'p3',
                    page: 'page/page3.html',
                    title: 'Page 3'
                }, {
                    id: 'p4',
                    page: 'page/page4.html',
                    title: 'Page 4'
                }, {
                    id: 'p5',
                    page: 'page/page5.html',
                    title: 'Page 5'
                }];
                $scope.crumb = handler.crumbHandler({
                    attr: 'id'
                });
                $scope.open = function(page) {
                    $scope.crumb.open(page);
                }
                $scope.back = function() {
                    $scope.crumb.back();
                }
                $scope.go = function(id) {
                    $scope.crumb.go(id);
                }
            });
    </script>
</head>

<body ng-app="handler">
    <div ng-controller="crumb" class="container">
        <div class="row a-link">
            <strong>PAGES:</strong>
            <a href="#" ng-click="back()"> Atras </a>
            <a href="#" ng-repeat="o in pages" ng-click="open(o)"> {{o.title}} </a>
        </div>
        <hr />
        <div class="row">
            <span ng-repeat="o in pages">
                <div ng-if="crumb[o.id]" ng-include="o.page">Load Page</div>
            </span>
        </div>
        <hr />
        <div class="row">
            <div class="btn-group btn-breadcrumb">
                <a href="http://www.tutorialmines.net" class="btn btn-default">Breadcrumb</a>

                <a href="#" class="btn btn-default" ng-repeat="item in crumb.tracer() track by $index" ng-click="go($index)">
                        {{item.title}}
                </a>
            </div>
        </div>
        <hr />
        <div class="row">
            <h6>
                <b>Name: </b>{{crumb.name()}}
                <hr />
                <b>Node: </b><code>{{crumb.node()|json}}</code>
                <hr />
                <b>Tracer: </b><code>{{crumb.tracer()|json}}</code>
            </h6>
        </div>
    </div>

</body>

</html>